<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.aftersaleservice.dao.FeedbackMapper">
    <insert id="addFeedbackByCustomer" parameterType="Feedback">
        insert into feedback(fName, fTelephone, fContent, fTime)
        values (#{fName}, #{fTelephone}, #{fContent}, #{fTime})
    </insert>
</mapper>